<div class="container">
  <div class="container__header">
    <img alt="logo" />
    <div class="container__header__descriptions">
      <own-title>Lamcia</own-title>
      <own-sub-title>Monitoreo de Viajes</own-sub-title>
    </div>
  </div>
  <div class="container__body">
    <div class="container__body__menu">
      <nav>
        <ng-container *ngFor="let item of items">
          <div
            [routerLink]="'/' + item.route"
            routerLinkActive="active-link"
            class="container__body__menu__item"
          >
            <img class="container__body__menu__item__image" [src]="item.icon" />
            <p>{{ item.title }}</p>
          </div>
        </ng-container>
      </nav>
    </div>
    <div class="container__body__footer">
      <div class="container__body__menu__item">
        <img
          class="container__body__menu__item__image"
          src="assets/icons/gear-solid.svg"
        />
        <p>Configuración</p>
      </div>
    </div>
  </div>
</div>
